<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Law&Tech | Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-cadastro.css') }}">
</head>
<body>
    <header>
        <h1><a href="/" class="link">Law&Tech</a></h1>
        <nav>
          <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="cadastro.html">Cadastro</a></li>
            <li><a href="suporte.html">Suporte</a></li>
            <li><a href="sobre.html">Sobre</a></li>
          </ul>
        </nav>
        <hr>
    </header>
    <div class="container">
        <div class="form-box">
            <form action="" method="post">
                <h1>Cadastro</h1>
                <input type="text" name="username" placeholder="Usuário" class="form-input" id="name" required>
                <input type="email" name="email" placeholder="E-mail" class="form-input" id="email" required>
                <input type="password" name="password" placeholder="Senha" class="form-input" id="password" required>
                <input type="submit" name="Cadastrar" class="form-btn" onclick="cadastro()">
                Já tem uma conta? <a href="login.html">Efetue login</a>
            </form>
        </div>
    </div>
    <footer>
        <h3>Entre em contato conosco</h3>
        <ul>
          <li><a href="https://github.com/renanleitev">Renan Leite Vieira</a></li>
          <li><a href="https://github.com/i1iadeilton">José Adeilton</a></li>
          <li><a href="https://github.com/marinhojp">João Pedro Marinho</a></li>
        </ul>    
    </footer>
</body>
<script>
    async function cadastro() {
        // Previnindo que o formulário seja enviado
        event.preventDefault();
        // Obtendo o nome, email e senha digitadas pelo usuário
        const usuarioNome = document.querySelector("#name").value;
        const usuarioEmail = document.querySelector("#email").value;
        const usuarioSenha = document.querySelector("#password").value;
        // Definindo uma variável boolean para saber se o usuário está cadastrado ou não
        let usuarioEstaCadastrado = false;
        // Definindo o objeto que será passado na requisição
        const userData = {
            name: usuarioNome,
            email: usuarioEmail,
            password: usuarioSenha
        };
        fetch("http://localhost:3000/users", {method: "GET"})
            .then(resposta => resposta.json())
            .then(usuarios => {
                usuarios.map(usuario => {
                    if (usuario.email === usuarioEmail) {
                        window.alert('E-mail já cadastrado no sistema.');
                        usuarioEstaCadastrado = true;
                    };
            }
        )});
        if (!usuarioEstaCadastrado) {
            // Enviando os dados do usuário para o banco de dados
            fetch("http://localhost:3000/users", 
                {
                    method: "POST",
                    body: JSON.stringify(userData),
                    headers: {"Content-type": "application/json; charset=UTF-8"}
                })
            .then(() => {
                window.location.href = '/';
                window.alert('Usuário cadastrado com sucesso.');
            })
        }
    }
</script>
</html>