<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Law&Tech | Funcionalidades do Sistema</title>
  <link href="{{ url_for('static', filename='css/jusupdate.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <header>
    <h1><a href="/" class="link">Law&Tech</a></h1>
    <nav>
      <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="cadastro.html">Cadastro</a></li>
        <li><a href="suporte.html">Suporte</a></li>
        <li><a href="sobre.html">Sobre</a></li>
      </ul>
    </nav>
    <hr>
  </header>
  <!-- &#8595; = Código referente a seta para baixo -->
  <section class="main-section">
    <h1>Funcionalidades do JusUpdate &#8595;</h1>
  </section>
  <section>
    <div class="container reveal">
      <h2>Acompanhe qualquer processo, em tempo real</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>Interface principal</h3>
          <p>
            A interface principal do JusUpdate é amigável, intuitiva e fácil de utilizar. Basta você inserir a URL do processo e clicar em 'Observar', para receber atualizações do site escolhido. É possível também inserir uma etiqueta ('tag') específica, para acompanhar URLs por grupos. 
          </p>
        </div>
        <img src="../../static/images/pagina-jusupdate/pagina-jusupdate-01.png" alt="">
      </div>
    </div>
  </section>
  
  <section>
    <div class="container reveal">
      <h2>Configure de acordo com as suas necessidades</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>Frequência de atualização</h3>
          <p>
            O JusUpdate também pode ser configurado para atender às suas necessidades. É possível controlar a frequência de atualização e notificação das URLs, para que seja atualizado por semana, dias, horas, minutos e segundos. <br> 
            Além disso, é possível extrair o título da página e utilizar como título da notificação, facilitando a identificação de cada atualização.
          </p>
        </div>
        <img src="../../static/images/pagina-jusupdate/pagina-jusupdate-02.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <div class="container reveal">
      <h2>Personalize as suas notificações e o destino das mensagens</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>Painel de Notificação</h3>
          <p>
            O JusUpdate permite que você escolha para onde serão enviadas as notificações. Damos suporte a e-mails (Gmail, Outlook, Yahoo, etc), Discord e Telegram. <br>
            Além disso, é possível personalizar a mensagem da notificação, escolhendo o título da mensagem e a estrutura do texto.
          </p>
        </div>
        <img src="../../static/images/pagina-jusupdate/pagina-jusupdate-03.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <div class="container reveal">
      <h2>Importe uma lista de URLs ou faça backup dos seus dados</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>Importar e Backup</h3>
          <p>
            O JusUpdate permite que você importe uma lista de URLs específica, ao invés de inserir manualmente cada URL. <br>
            Além disso, é possível fazer backup dos seus dados, caso tenha interesse em visualizar as atualizações em arquivos de texto.
          </p>
        </div>
        <img src="../../static/images/pagina-jusupdate/pagina-jusupdate-04.png" alt="">
      </div>
    </div>
  </section>
  
  <!-- &#8593; = Código referente a seta para cima -->
  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>

  <footer>
    <h3>Entre em contato conosco</h3>
    <ul>
      <li><a href="https://github.com/renanleitev">Renan Leite Vieira</a></li>
      <li><a href="https://github.com/i1iadeilton">José Adeilton</a></li>
      <li><a href="https://github.com/marinhojp">João Pedro Marinho</a></li>
    </ul>    
  </footer>

  <script>
    // Get the button:
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    function reveal() {
      var reveals = document.querySelectorAll(".reveal");

      for (var i = 0; i < reveals.length; i++) {
        var windowHeight = window.innerHeight;
        var elementTop = reveals[i].getBoundingClientRect().top;
        var elementVisible = 150;

        if (elementTop < windowHeight - elementVisible) {
          reveals[i].classList.add("active");
        } else {
          reveals[i].classList.remove("active");
        }
      }
    }
    window.addEventListener("scroll", reveal);
  </script>
</body>
</html>