<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Law&Tech | Gerenciamento de Prazos</title>
  <link href="{{ url_for('static', filename='css/prazos.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <header>
    <h1><a href="/" class="link">Law&Tech</a></h1>
    <nav>
      <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="cadastro.html">Cadastro</a></li>
        <li><a href="suporte.html">Suporte</a></li>
        <li><a href="sobre.html">Sobre</a></li>
      </ul>
    </nav>
    <hr>
  </header>

  <div class="about-section">
      <div class="parallax img-um">
        <div class="text-section">
            <h2>A importância de gerenciar prazos processuais</h2>
            <h3>
                O JusUpdate auxilia na organização e no cumprimento de prazos legais. 
                Com a rapidez e facilidade proporcionada pelos meios digitais, o JusUpdate permite visualizar atualizações de processos e acompanhá-los em tempo real.
            </h3>
        </div>
    </div>
  </div>

  <div class="about-section">
      <div class="parallax img-dois">
        <div class="text-section">
            <h2>Esteja sempre atualizado, onde estiver</h2>
            <h3>
                Para garantir que os prazos não sejam esquecidos, o JusUpdate oferece notificações por e-mails (Gmail, Outlook, Yahoo, etc), Discord e Telegram. 
                Esses canais de comunicação são acessíveis e permitem uma comunicação instantânea, garantindo que os advogados fiquem sempre atualizados.
            </h3>
        </div>
      </div>
  </div>

  <div class="about-section">
    <div class="parallax img-tres">
        <div class="text-section">
            <h2>Fácil e prático</h2>
            <h3>
                O JusUpdate é fácil de usar e tem uma interface intuitiva. 
                Além disso, é seguro e mantém a privacidade das informações dos usuários. 
                Assim, o JusUpdate garante a confidencialidade dos dados dos clientes e dos casos tratados pelo escritório, mantendo a ética profissional e evitando violações de sigilo.
            </h3>
        </div>
    </div>
  </div>

  <div class="about-section">
    <div class="parallax img-quatro">
        <div class="text-section">
            <h2>Customizável, do jeito que você precisa</h2>
            <h3>
                Além disso, o JusUpdate permite a customização de notificações para que o usuário possa escolher os tipos de alerta e a frequência das notificações. 
                Por exemplo, é possível definir que algumas notificações sejam enviadas com algumas semanas de antecedência ou com apenas um dia de antecedência.
            </h3>
        </div>
    </div>
  </div>
  
  <div class="about-section">
    <div class="parallax img-cinco">
        <div class="text-section">
            <h2>Preço acessível</h2>
            <h3>
                O JusUpdate possui um valor acessível, garantindo que pequenas e médias empresas tenham condições de adotá-lo. 
                Dessa forma, o gerenciamento de prazos deixa de ser uma tarefa complexa, permitindo que os advogados possam se dedicar mais ao conteúdo dos processos e às necessidades do cliente.    
            </h3>
        </div>
    </div>
  </div>
  <!-- &#8593; = Código referente a seta para cima -->
  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>

  <footer>
    <h3>Entre em contato conosco</h3>
    <ul>
      <li><a href="https://github.com/renanleitev">Renan Leite Vieira</a></li>
      <li><a href="https://github.com/i1iadeilton">José Adeilton</a></li>
      <li><a href="https://github.com/marinhojp">João Pedro Marinho</a></li>
    </ul>    
  </footer>

  <script>
    // Get the button:
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>
</body>
</html>