<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Law&Tech | Sobre</title>
  <link href="{{ url_for('static', filename='css/sobre.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <header>
    <h1><a href="/" class="link">Law&Tech</a></h1>
    <nav>
      <ul>
        <li><a href="./login.html">Login</a></li>
        <li><a href="./cadastro.html">Cadastro</a></li>
        <li><a href="./suporte.html">Suporte</a></li>
        <li><a href="./sobre.html">Sobre</a></li>
      </ul>
    </nav>
    <hr>
  </header>
  <div class="about-section">
    <h1>Sobre a Law&Tech</h1>
    <p>
        A startup Law&tech foi criada por alunos de graduação do curso de Análise e Desenvolvimento de Sistemas da Faculdade Senac Pernambuco, com o objetivo de oferecer soluções tecnológicas para escritórios de advocacia ou advogados autônomos. A startup desenvolveu um sistema web e mobile que permite aos profissionais do direito gerenciar seus processos e receber atualizações sobre as últimas movimentações processuais.
    </p>
  </div>
  <h2 style="text-align:center">Equipe</h2>
  <div class="row">
    <!-- Copiar e colar a partir da próxima linha até o próximo comentário -->
    <!-- Alterar as tags img, h2, descrição e href do link Github-->
    <div class="column">
      <div class="card">
        <div class="container">
            <img src="https://avatars.githubusercontent.com/u/109419403?s=400&u=6ebac5e42cc092f244bfbc5abf10b4c8ba00dd82&v=4" alt="Renan" style="width:50%">
            <h2>Renan Leite Vieira</h2>
            <p class="title">Desenvolvedor</p>
            <p>
                Python (Django, Flask), Javascript (Node, Express) e Typescript (React).
            </p>
            <p>
                <button class="button">
                    <a href="https://github.com/renanleitev">Contato</a>
                </button>
            </p>
        </div>
      </div>
    </div>
    <!-- Copiar e colar a partir da próxima linha até o próximo comentário -->
    <!-- Alterar as tags img, h2, descrição e href do link Github-->
    <div class="column">
        <div class="card">
            <div class="container">
                <img src="https://avatars.githubusercontent.com/u/74269825?v=4" alt="José Adeilton" style="width:50%">
                <h2>José Adeilton</h2>
                <p class="title">Desenvolvedor</p>
                <p>
                    Desenvolvedor backend.
                </p>
                <p>
                    <button class="button">
                        <a href="https://github.com/i1iadeilton">Contato</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Copiar e colar a partir da próxima linha até o próximo comentário -->
    <!-- Alterar as tags img, h2, descrição e href do link Github-->
    <div class="column">
        <div class="card">
            <div class="container">
                <img src="https://avatars.githubusercontent.com/u/102988463?v=4" alt="João Pedro Marinho" style="width:50%">
                <h2>João Pedro Marinho</h2>
                <p class="title">Desenvolvedor</p>
                <p>
                    Entusiasta da tecnologia e em constante processo de aprendizagem.
                </p>
                <p>
                    <button class="button">
                        <a href="https://github.com/marinhojp">Contato</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Copiar e colar a partir da próxima linha até o próximo comentário -->
    <!-- Alterar as tags img, h2, descrição e href do link Github-->
    <div class="column">
        <div class="card">
            <div class="container">
                <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_960_720.png" alt="Flávio Raposo" style="width:50%">
                <h2>Flávio Raposo</h2>
                <p class="title">Desenvolvedor</p>
                <p>
                    Descrição
                </p>
                <p>
                    <button class="button">
                        <a href="#">Contato</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Copiar e colar a partir da próxima linha até o próximo comentário -->
    <!-- Alterar as tags img, h2, descrição e href do link Github-->
    <div class="column">
        <div class="card">
            <div class="container">
                <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_960_720.png" alt="Cleverton Andrade" style="width:50%">
                <h2>Cleverton Andrade</h2>
                <p class="title">Desenvolvedor</p>
                <p>
                    Descrição
                </p>
                <p>
                    <button class="button">
                        <a href="#">Contato</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Copiar e colar a partir da próxima linha até o próximo comentário -->
    <!-- Alterar as tags img, h2, descrição e href do link Github-->
    <div class="column">
        <div class="card">
            <div class="container">
                <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_960_720.png" alt="Rian Vinícius" style="width:50%">
                <h2>Rian Vinícius</h2>
                <p class="title">Desenvolvedor</p>
                <p>
                    Descrição
                </p>
                <p>
                    <button class="button">
                        <a href="#">Contato</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Copiar e colar a partir da próxima linha até o próximo comentário -->
    <!-- Alterar as tags img, h2, descrição e href do link Github-->
    <div class="column">
        <div class="card">
            <div class="container">
                <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_960_720.png" alt="Robério José" style="width:50%">
                <h2>Robério José</h2>
                <p class="title">Desenvolvedor</p>
                <p>
                    Descrição
                </p>
                <p>
                    <button class="button">
                        <a href="#">Contato</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
  </div>
  <footer>
    <h3>Entre em contato conosco</h3>
    <ul>
      <li><a href="https://github.com/renanleitev">Renan Leite Vieira</a></li>
      <li><a href="https://github.com/i1iadeilton">José Adeilton</a></li>
      <li><a href="https://github.com/marinhojp">João Pedro Marinho</a></li>
    </ul>    
  </footer>
</body>
</html>