<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/suporte.css') }}">
</head>
<body>
    <header>
        <h1><a href="/" class="link">Law&Tech</a></h1>
        <nav>
          <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="cadastro.html">Cadastro</a></li>
            <li><a href="suporte.html">Suporte</a></li>
            <li><a href="sobre.html">Sobre</a></li>
          </ul>
        </nav>
        <hr>
      </header>
    <main>
        <h1 class="faq-heading">JusUpdate Suporte</h1>
        <section class="faq-container">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Por que eu não consigo acessar o JusUpdate?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <p>
                        Existem vários motivos que podem impedir o acesso ao JusUpdate, como problemas de conexão, configuração do navegador, bloqueio de firewall, senha incorreta, entre outros.
                        Verifique se o seu e-mail e senha estão corretos.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Como eu posso verificar se a minha conexão está funcionando?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <p>
                        Você pode testar a sua conexão acessando outros sites na internet ou utilizando ferramentas online como o Speedtest ou o Teste de Velocidade. Se a sua conexão estiver lenta ou instável, tente reiniciar o seu modem ou roteador, ou entre em contato com o seu provedor de internet.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Como eu posso verificar se o meu firewall está bloqueando o acesso ao JusUpdate?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <p>
                        Você pode verificar se o seu firewall está ativado e se ele possui alguma regra que impede o acesso ao sistema web. Você pode tentar desativar temporariamente o seu firewall ou adicionar uma exceção para o endereço do JusUpdate. Lembre-se de reativar o seu firewall após o teste.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Como eu posso enviar notificações para o meu Gmail?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <ol>
                        <li>
                            Primeiro, faça login na sua conta Google. Depois, clique em Conta no botão com nove 'pontos':
                            <img src="../../static/images/configurar-gmail/configurar-gmail-01.png" alt="">
                        </li>
                        <li>
                            Em seguida, clique em Senhas de aplicativos em Segurança. 
                            Não se esqueça de ativar a verificação em duas etapas antes de gerar uma senha de aplicativo, caso contrário, você não poderá gerar uma senha de aplicativo.
                            Caso não apareça essa opção, acessar o endereço <a href="https://myaccount.google.com/apppasswords">App Passwords</a>.
                            <img src="../../static/images/configurar-gmail/configurar-gmail-02.png" alt="">
                        </li>
                        <li>
                            Em seguida, clique em Outro (Nome personalizado):
                            <img src="../../static/images/configurar-gmail/configurar-gmail-03.png" alt="">
                        </li>
                        <li>
                            Em seguida, coloque o nome do seu aplicativo e clique em GERAR (pode ser qualquer nome):
                            <img src="../../static/images/configurar-gmail/configurar-gmail-04.png" alt="">
                        </li>
                        <li>
                            Aqui, você pode gerar a senha do aplicativo (Exemplo: xylnudjdiwpojwzm).
                            Salve essa senha em algum lugar seguro, e não compartilhe com ninguém.
                            Essa senha será utilizada para enviar e-mails para a sua conta Gmail.
                            <img src="../../static/images/configurar-gmail/configurar-gmail-05.png" alt="">
                        </li>
                        <li>
                            Volte ao site principal e faça login na sua conta:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-06.png" alt="">
                        </li>
                        <li>
                            Vá até Configurações:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-07.png" alt="">
                        </li>
                        <li>
                            Vá até o painel de notificações:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-08.png" alt="">
                        </li>
                        <li>
                            Insira o link para enviar e-mail para a sua conta, no seguinte formato:
                            <code>
                                mailtos://{usuário}:{senha_email}@gmail.com <br>
                            </code>
                            Obs: Aqui, a senha do e-mail é a senha gerada no passo 5.
                            <img src="../../static/images/configurar-gmail/configurar-gmail-09.png" alt="">
                        </li>
                        <li>
                            Faça o teste de notificação para a sua conta. Você deve receber o e-mail de teste em instantes.
                            <img src="../../static/images/configurar-gmail/configurar-gmail-10.png" alt="">
                        </li>
                        <li>
                            Por fim, clique em salvar (save), ao final da página:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-11.png" alt="">
                        </li>
                        <li>
                            Pronto, o seu e-mail está configurado!
                        </li>
                    </ol>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Como eu posso enviar notificações para o meu Discord?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <ol>
                        <li>
                            Primeiro, crie uma conta no <a href="https://discord.com/">Discord</a>, se já não tiver criado anteriormente.
                            Baixe a versão de Desktop para Windows.     
                        </li>
                        <li>
                            Abra o Discord Desktop. Em seguida, clique no ícone de "+", para criar um novo servidor.
                            <img src="../../static/images/configurar-discord/configurar-discord-01.png" alt="">
                        </li>
                        <li>
                            Em seguida, clique em "Criar o meu":
                            <img src="../../static/images/configurar-discord/configurar-discord-02.png" alt="">
                        </li>
                        <li>
                            Em seguida, clique em "Para meus amigos e eu":
                            <img src="../../static/images/configurar-discord/configurar-discord-03.png" alt="">
                        </li>
                        <li>
                            Escolha um nome e uma imagem (opcional) para o seu servidor. Depois, clique em criar.
                            <img src="../../static/images/configurar-discord/configurar-discord-04.png" alt="">
                        </li>
                        <li>
                            Em seguida, clique no ícone de engrenagem (configurações) do canal "geral".
                            <img src="../../static/images/configurar-discord/configurar-discord-05.png" alt="">
                        </li>
                        <li>
                            Vá até "Integrações":
                            <img src="../../static/images/configurar-discord/configurar-discord-06.png" alt="">
                        </li>
                        <li>
                            Clique em "Criar webhook":
                            <img src="../../static/images/configurar-discord/configurar-discord-07.png" alt="">
                        </li>
                        <li>
                            Clique em "Novo webhook":
                            <img src="../../static/images/configurar-discord/configurar-discord-08.png" alt="">
                        </li>
                        <li>
                            Clique no bot recém-criado, para expandí-lo:
                            <img src="../../static/images/configurar-discord/configurar-discord-09.png" alt="">
                        </li>
                        <li>
                            Clique em "Copiar URL do webhook":
                            <img src="../../static/images/configurar-discord/configurar-discord-10.png" alt="">
                        </li>
                        <li>
                            Volte ao site principal e faça login na sua conta:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-06.png" alt="">
                        </li>
                        <li>
                            Vá até Configurações:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-07.png" alt="">
                        </li>
                        <li>
                            Vá até o painel de notificações:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-08.png" alt="">
                        </li>
                        <li>
                            Insira a URL do webhook copiada anteriormente:
                            <img src="../../static/images/configurar-discord/configurar-discord-11.png" alt="">
                        </li>
                        <li>
                            Faça o teste de notificação para a sua conta. Você deve receber a notificação de teste em instantes.
                            <img src="../../static/images/configurar-gmail/configurar-gmail-10.png" alt="">
                        </li>
                        <li>
                            Por fim, clique em salvar (save), ao final da página:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-11.png" alt="">
                        </li>
                        <li>
                            Pronto, o seu discord está configurado!
                        </li>
                    </ol>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Como eu posso enviar notificações para o Telegram?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <ol>
                        <li>
                            Se ainda não tiver uma conta no Telegram, você precisará criar e se conectar com um telefone. 
                            O Telegram usa seu número de telefone como credencial para permitir que você entre em sua conta. 
                            Portanto, baixe e instale o aplicativo via <a href="https://telegram.org/dl/android">Android</a> ou <a href="https://telegram.org/dl/ios">Apple</a>.
                            Depois de configurar, pode ser um pouco mais fácil usar a <a href="https://telegram.org/dl/webogram">interface Web</a> com um PC, mas fica a critério do usuário.
                        </li>
                        <li>
                            As notificações do Telegram exigem que você <a href="https://api.telegram.org/">crie um bot</a>. Somente depois que isso for feito, você obterá o Token Identifier (ou bot_token).
                            Para fazer isso você terá que abrir uma comunicação (dentro do Telegram) para o <a href="https://botsfortelegram.com/project/the-bot-father/">BotFather</a>. Ele está disponível para todos os usuários. Comece um diálogo com ele.
                        </li>
                        <li>
                            Em seguida, execute os seguintes passos:
                            <ol>
                                <li>
                                    Digite: /newbot
                                </li>
                                <li>
                                    Responda às perguntas que ele fizer depois de fazer isso.
                                </li>
                                <li>
                                    Ao concluir a etapa 2, você receberá um bot_token semelhante a este: 123456789:alphanumeric_characters.
                                </li>
                                <li>
                                    Digite /start now na mesma caixa de diálogo para habilitar e instanciar seu novo bot.
                                </li>
                            </ol> <br>
                            A boa notícia é que esse processo só precisa ser feito uma vez. 
                            Depois de obter seu bot_token, guarde-o e não se preocupe mais em ter que repetir esse processo novamente.
                            É por meio desse bot que o JusUpdate consegue enviar notificações no Telegram para diferentes usuários.
                        </li>
                        <li>
                            Obtenha o seu chat_id do Telegram. <a href="https://www.alphr.com/find-chat-id-telegram/">Mais informações.</a>
                        </li>
                        <li>
                            Caso não consiga obter o chat_id com o método anterior, basta enviar uma mensagem privada para este novo bot que você acabou de criar (acima). 
                            Ao fazer isso, o JusUpdate é capaz de detectar automaticamente seu {chat_id} da mensagem enviada ao bot. Fazer isso também permite que você simplifique bastante a leitura do URL de notificação:
                            <code>
                                tgram://{bot_token}/ 
                            </code>
                        </li>
                        <li>
                            Caso obtenha o seu chat_id, a sua URL de notificação será:
                            <code>
                                tgram://{bot_token}/{chat_id}/
                            </code>
                            <br>
                            Você também pode enviar notificações para vários usuários, utilizando o seguinte formato de URL:
                            <br>
                            <code>
                                tgram://{bot_token}/{chat_id1}/{chat_id2}/{chat_id3}/
                            </code>
                            <br>
                            Sendo:
                            <ol>
                                <li>
                                    bot_token: O token que identifica o bot que você criou por meio do BotFather
                                </li>
                                <li>
                                    chat_id: Identifica os usuários para os quais você deseja que seu bot entregue suas notificações. Você deve especificar pelo menos 1 chat_id. Se você não especificar um chat_id, o script de notificação tentará detectar o chat_id do proprietário do bot (você) e usá-lo. 
                                </li>
                            </ol>
                        </li>
                        <li>
                            Volte ao site principal e faça login na sua conta:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-06.png" alt="">
                        </li>
                        <li>
                            Vá até Configurações:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-07.png" alt="">
                        </li>
                        <li>
                            Vá até o painel de notificações:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-08.png" alt="">
                        </li>
                        <li>
                            Insira a URL de notificação criada anteriormente.
                            Exemplo: <br> 
                            <code>
                                tgram://123456789:abcdefg_hijklmnop/12315544/
                            </code>
                            <img src="../../static/images/configurar-discord/configurar-discord-11.png" alt="">
                        </li>
                        <li>
                            Faça o teste de notificação para a sua conta. Você deve receber a notificação de teste em instantes.
                            <img src="../../static/images/configurar-gmail/configurar-gmail-10.png" alt="">
                        </li>
                        <li>
                            Por fim, clique em salvar (save), ao final da página:
                            <img src="../../static/images/configurar-gmail/configurar-gmail-11.png" alt="">
                        </li>
                        <li>
                            Pronto, o seu Telegram está configurado!
                        </li>
                    </ol>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Como eu posso recuperar a minha senha do JusUpdate?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <p>
                        Você pode recuperar a sua senha do JusUpdate no link "Esqueci minha senha" na tela de login. Você deverá informar o seu e-mail cadastrado e seguir as instruções enviadas para redefinir a sua senha.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Como eu posso alterar a minha senha do JusUpdate?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <p>
                        Você pode alterar a sua senha do JusUpdate acessando o menu "Minha conta" ou "Configurações" dentro do sistema. Você deverá informar a sua senha atual e a nova senha desejada.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    Como eu posso entrar em contato com o suporte do JusUpdate?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <p>
                        Você pode entrar em contato com o suporte do JusUpdate através dos canais disponíveis, como telefone, e-mail, chat ou formulário online. Você deverá informar o seu nome, e-mail, telefone e o problema que está enfrentando.
                    </p>
                </div>
            </div>
            <hr class="hr-line">
            <div>
                <!-- Pergunta-->
                <h1 class="faq-page">
                    O que mais eu posso fazer para resolver o meu problema de acesso ao JusUpdate?
                </h1>
                <!-- Resposta -->
                <div class="faq-body">
                    <p>
                        Se nenhuma das soluções anteriores funcionou, você pode tentar acessar o JusUpdate em outro dispositivo ou rede, ou aguardar alguns minutos e tentar novamente. Se o problema persistir, entre em contato com o suporte do JusUpdate e informe os detalhes do seu caso.
                    </p>
                </div>
            </div>
        </section>
        <footer>
            <h3>Entre em contato conosco</h3>
            <ul>
              <li><a href="https://github.com/renanleitev">Renan Leite Vieira</a></li>
              <li><a href="https://github.com/i1iadeilton">José Adeilton</a></li>
              <li><a href="https://github.com/marinhojp">João Pedro Marinho</a></li>
            </ul>    
          </footer>
    </main>
    <script>
        const faq = document.getElementsByClassName("faq-page");
        for (let i = 0; i < faq.length; i++) {
            faq[i].addEventListener("click", function () {
                this.classList.toggle("active");
                const body = this.nextElementSibling;
                if (body.style.display === "block") {
                    body.style.display = "none";
                } else {
                    body.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>